{% extends "base.html" %}
{% load staticfiles %}
 {% block scripts %}
     <script src="{% static "js/highlight.js" %}" type="text/javascript" ></script>
     <link href="{% static "css/article.css" %}" rel="stylesheet"> 
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
 {% endblock %}    

 {% block document_container %}
 <div style="min-height:100%;" class="container-fluid" id="background">
     <!--Top margin, can be used as nav bar or so, later. -->
      <div class="row" id="top-margin">
              <div class="col-10" class="col-container"><p style="margin-bottom: 0px">Now: Article <a id="order"></a></p><p id="prevholder" style="display:none">Previous articles (new tab) <button id="art1" onclick="opena1()" class="btn"style="display:none;padding:0px;">Article 1</button><a>  </a><button id="art2" onclick="opena2()" class="btn"style="display:none;padding:0px;">Article 2</button></p></div>
              <div class="col-2" class="col-container"> <p id="username">{{ user.get_username }}</p>  <p id="userpk" style="display:none">{{ user.pk }}</p> </div>
      </div> 
      <div class="row" id="main">
        <div class="col-8" class="col-container">
          <div id="article">
           <div id="head">
             <h1 class="title">{{ article.article_title }}</h1>
             <h1 class="date">Nov. 28th, 2016 <hide id="ano" style="display:none">{{ article.article_no }}</hide></h1>
              <hr>
             </div>
           <div  class="row">
                <!-- Selection Popover -->
                <div id="text" style="display:none;" class="col-12" class="col-container">
                    {{article.article_body}}
                </div>
                <div class="popover fade show bs-popover-bottom" role="tooltip" id="popoverdiv" x-placement="bottom" style="display:none">
                    <div class="arrow" style="left:14px;"></div>
                    <div class="popover-body" style="padding:5px;">
                    <div class="popoverrow qrow" >
                        <!-- <button class="btn newrefbutton " id='newrefQbutton' onclick="newrefQ()" style="background-color:#05b000; color:#ffffff; margin-right:1px; width:38px; height:38px;"><i class="fas fa-question"></i></button> -->
                        <button id="newrefHbutton" class="btn newrefbutton " onclick="newrefH()" style="background-color:#f8c000; color:#ffffff; width:38px; height:38px;"><i class="fas fa-exclamation"></i></button> 
                    </div>
                    </div>
            </div>
                <div class="col-1" class="col-container" style="display:none">
                </div>
             </div>
             
         </div>
 

         <!-- Question Modal 
        <div class="modal fade" id="modalQ" role="dialog">
            <div class="modal-dialog">
            
          
            <div class="modal-content">
                <div class="modal-header">
                        <h4 class="modal-title">New Question</h4>
                        <button type="button" class="close" data-dismiss="modal" onclick="resetSelection('q')">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label for="modalQreftext" class="col-sm-3 col-form-label" style="padding:0px; margin-left:15px;">Selected Text</label>
                            <div class="col-sm-8" style="padding:0px;">
                                <input type="text" class="form-control" id="modalQreftext" style="height:38px;">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="modalQquestion" class="col-sm-3 col-form-label" style="padding:0px; margin-left:15px;">Question</label>
                            <div class="col-sm-8" style="padding:0px;">
                                <input type="text" class="form-control" id="modalQquestioninput" placeholder="Type in your question.">
                            </div>
                        </div>
                       
                        <div class="form-group row">
                                <label class="col-sm-12 col-form-label" style="padding:0px; margin-left:15px;"> How do you agree with the following statement? </label>
                                <label class="col-sm-10 col-form-label" class="statement" style="padding:0px; margin-left:30px;font-style: italic;font-weight:bold;">"A news article on this research should be able to answer above question."</label>
                                <div class="col-sm-12">
                                        <ul class='likert'>
                                                <li>
                                                  <input type="radio" name="likertQ" value="1">
                                                  <label><p style="margin-top:8px; margin-bottom: 0;">1</p><p style="margin:0;">(Stroingly Disagree)</p></label>
                                                </li>
                                                <li>
                                                  <input type="radio" name="likertQ" value="2">
                                                  <label>2</label>
                                                </li>
                                                <li>
                                                  <input type="radio" name="likertQ" value="3">
                                                  <label>3</label>
                                                </li>
                                                <li>
                                                  <input type="radio" name="likertQ" value="4">
                                                  <label><p style="margin-top:8px; margin-bottom: 0;">4</p><p style="margin:0;">(Neutral)</p></label>
                                                </li>
                                                <li>
                                                  <input type="radio" name="likertQ" value="5">
                                                  <label>5</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="likertQ" value="6">
                                                    <label>6</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="likertQ" value="7">
                                                    <label><p style="margin-top:8px; margin-bottom: 0;">7</p><p style="margin:0;">(Strongly Agree)</p></label>
                                                </li>
                                        </ul>
                                </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label" style="padding:0px; margin-left:15px;"> Fill in the blank in your words, as you think appropriate. </label>
                            <label class="col-sm-9 col-form-label" style="padding:0px; margin-left:45px; font-style:italic"> "Answer to this question will help readers to </label>
                            <div class="col-sm-10" style="padding:0px; margin-left:60px;float:left;">
                                   <span> <input type="text" class="form-control" id="modalQwhy" style="height:38px; display:inline-block; width:80%;"></span><span style=" display:inline-block;font-style:italic">."</span>
                            </div>
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                        <button type="button" id="modalQclose" class="btn btn-default modalclose" data-dismiss="modal" onclick="resetSelection('q')">Close</button>
                        <button type="button" class="btn btn-success" id="submitQ" onclick="submitQ()">Submit</button>
                </div>
            </div>
            
            </div>
        </div> -->

       <!-- Highlight Modal-->
        <div class="modal fade" id="modalH" role="dialog">
                <div class="modal-dialog">
                
                <div class="modal-content">
                    <div class="modal-header">
                            <h4 class="modal-title">New Question</h4>
                            <button type="button" class="close" data-dismiss="modal" onclick="resetSelection('h')">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <label for="modalHreftext" class="col-sm-3 col-form-label" style="padding:0px; margin-left:15px;">Selected Text</label>
                                <div class="col-sm-8" style="padding:0px;">
                                    <input type="text" class="form-control" id="modalHreftext" style="height:38px;">
                                </div>
                                
                            </div>
                            <div class="form-group row">
                                <label for="modalHquestion" class="col-sm-3 col-form-label" style="padding:0px; margin-left:15px;">Question</label>
                                <div class="col-sm-8" style="padding:0px;">
                                    <input type="text" class="form-control" id="modalHquestioninput" placeholder="Type in your question.">
                                </div>
                            </div>
                            <div class="form-group row">
                                    <label class="col-sm-12 col-form-label" style="padding:0px; margin-left:15px; margin-bottom: 15px;"> How do you agree with the following statement? </label>
                                    <label class="col-sm-10 col-form-label" class="statement" style="padding:0px; margin-left:30px;font-style: italic;font-weight:bold; font-size:14px;">"A news article on this research should be able to answer above question."</label>
                                    <div class="col-sm-12">
                                            <ul class='likert'>
                                                    <li>
                                                      <input type="radio" name="likertH" value="1">
                                                      <label><p style="margin-top:8px; margin-bottom: 0;">1</p><p style="margin:0;">(Stroingly Disagree)</p></label>
                                                    </li>
                                                    <li>
                                                      <input type="radio" name="likertH" value="2">
                                                      <label>2</label>
                                                    </li>
                                                    <li>
                                                      <input type="radio" name="likertH" value="3">
                                                      <label>3</label>
                                                    </li>
                                                    <li>
                                                      <input type="radio" name="likertH" value="4">
                                                      <label><p style="margin-top:8px; margin-bottom: 0;">4</p><p style="margin:0;">(Neutral)</p></label>
                                                    </li>
                                                    <li>
                                                      <input type="radio" name="likertH" value="5">
                                                      <label>5</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" name="likertH" value="6">
                                                        <label>6</label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" name="likertH" value="7">
                                                        <label><p style="margin-top:8px; margin-bottom: 0;">7</p><p style="margin:0;">(Strongly Agree)</p></label>
                                                    </li>
                                            </ul>
                                    </div>
                            </div>
                            <div class="form-group row">
                                    <label class="col-sm-12 col-form-label" style="padding:0px; margin-left:15px; margin-bottom:15px;"> Fill in the blank in your words, as you think appropriate. </label>
                                    <label class="col-sm-9 col-form-label" style="padding:0px; margin-left:45px; font-style:italic; font-weight: bold;font-size:14px;"> "Answer to this question will help readers to </label>
                                    <div class="col-sm-10" style="padding:0px; margin-left:60px;float:left;">
                                       <span> <input type="text" class="form-control" id="modalHwhy" style="height:38px; display:inline-block; width:80%;"></span><span style=" display:inline-block;font-style:italic">."</span>
                                       <p style="font-size:10px;color:gray;">E.g., 'understand background knowledge', 'get more information on the research subject', 'evaluate the validity of this research', or 'understand how this research findings are related to their everyday health decision'.</p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                            <button type="button" id="modalHclose" class="btn btn-default modalclose" data-dismiss="modal" onclick="resetSelection('h')">Close</button>
                            <button type="button" class="btn btn-success" id="submitH" onclick="submitH()">Submit</button>
                    </div>
                </div>
                
                </div>
            </div>
        <!-- Survey Modal-->
        <div class="modal fade" id="modalS" role="dialog">
            <div class="modal-dialog">
            
            <div class="modal-content">
                <div class="modal-header">
                        <h4 class="modal-title">Evaluate This Article</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                                <label class="col-sm-12 col-form-label" style="padding:0px; margin-left:15px; margin-bottom:20px"> How do you agree with the following statements? </label>
                                <label class="col-sm-10 col-form-label" class="statement" style="padding:0px; margin-left:15px;font-style: italic;font-weight:bold;">This article was...</label>
                                <label class="col-sm-10 col-form-label" class="statement" style="padding:0px; margin-left:30px;font-size:14px;">1. Helpful to have background knowledge related to this research</label>
                                <div class="col-sm-12">
                                        <ul class='likert'>
                                                <li>
                                                <input type="radio" name="likertE1" value="1">
                                                <label><p style="margin-top:8px; margin-bottom: 0;">1</p><p style="margin:0;">(Stroingly Disagree)</p></label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE1" value="2">
                                                <label>2</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE1" value="3">
                                                <label>3</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE1" value="4">
                                                <label><p style="margin-top:8px; margin-bottom: 0;">4</p><p style="margin:0;">(Neutral)</p></label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE1" value="5">
                                                <label>5</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="likertE1" value="6">
                                                    <label>6</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="likertE1" value="7">
                                                    <label><p style="margin-top:8px; margin-bottom: 0;">7</p><p style="margin:0;">(Strongly Agree)</p></label>
                                                </li>
                                        </ul>
                                </div>
                                
                                <label class="col-sm-10 col-form-label" class="statement" style="padding:0px; margin-left:30px;font-size:14px;">2. Helpful to understand this research</label>
                                <div class="col-sm-12">
                                        <ul class='likert'>
                                                <li>
                                                <input type="radio" name="likertE2" value="1">
                                                <label>1</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE2" value="2">
                                                <label>2</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE2" value="3">
                                                <label>3</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE2" value="4">
                                                <label>4</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE2" value="5">
                                                <label>5</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="likertE2" value="6">
                                                    <label>6</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="likertE2" value="7">
                                                    <label>7</label>
                                                </li>
                                        </ul>
                                </div>

                                <label class="col-sm-10 col-form-label" class="statement" style="padding:0px; margin-left:30px;font-size:14px;">3. Helpful to evaluate the validity of this research</label>
                                <div class="col-sm-12">
                                        <ul class='likert'>
                                                <li>
                                                <input type="radio" name="likertE3" value="1">
                                                <label>1</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE3" value="2">
                                                <label>2</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE3" value="3">
                                                <label>3</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE3" value="4">
                                                <label>4</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE3" value="5">
                                                <label>5</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="likertE3" value="6">
                                                    <label>6</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="likertE3" value="7">
                                                    <label>7</label>
                                                </li>
                                        </ul>
                                </div>

                                <label class="col-sm-10 col-form-label" class="statement" style="padding:0px; margin-left:30px;font-size:14px;">4. Helpful to understand how this research findings can be related to my (or others') life. </label>
                                <div class="col-sm-12">
                                        <ul class='likert'>
                                                <li>
                                                <input type="radio" name="likerE4" value="1">
                                                <label>1</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE4" value="2">
                                                <label>2</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE4" value="3">
                                                <label>3</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE4" value="4">
                                                <label>4</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE4" value="5">
                                                <label>5</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="likertE4" value="6">
                                                    <label>6</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="likertE4" value="7">
                                                    <label>7</label>
                                                </li>
                                        </ul>
                                </div>
                                <label class="col-sm-10 col-form-label" class="statement" style="padding:0px; margin-left:30px;font-size:14px;">5. Informative</label>
                                <div class="col-sm-12">
                                        <ul class='likert'>
                                                <li>
                                                <input type="radio" name="likertE5" value="1">
                                                <label>1</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE5" value="2">
                                                <label>2</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE5" value="3">
                                                <label>3</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE5" value="4">
                                                <label>4</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE5" value="5">
                                                <label>5</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="likertE5" value="6">
                                                    <label>6</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="likertE5" value="7">
                                                    <label>7</label>
                                                </li>
                                        </ul>
                                </div>

                                <label class="col-sm-10 col-form-label" class="statement" style="padding:0px; margin-left:30px;font-size:14px;">6. Comprehensive</label>
                                <div class="col-sm-12">
                                        <ul class='likert'>
                                                <li>
                                                <input type="radio" name="likertE6" value="1">
                                                <label><p style="margin-top:8px; margin-bottom: 0;">1</p><p style="margin:0;">(Stroingly Disagree)</p></label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE6" value="2">
                                                <label>2</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE6" value="3">
                                                <label>3</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE6" value="4">
                                                <label><p style="margin-top:8px; margin-bottom: 0;">4</p><p style="margin:0;">(Neutral)</p></label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE6" value="5">
                                                <label>5</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="likertE6" value="6">
                                                    <label>6</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="likertE6" value="7">
                                                    <label><p style="margin-top:8px; margin-bottom: 0;">7</p><p style="margin:0;">(Strongly Agree)</p></label>
                                                </li>
                                        </ul>
                                </div>

                                <label class="col-sm-10 col-form-label" class="statement" style="padding:0px; margin-left:30px;font-size:14px;">7. Accurate</label>
                                <div class="col-sm-12">
                                        <ul class='likert'>
                                                <li>
                                                <input type="radio" name="likertE7" value="1">
                                                <label>1</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE7" value="2">
                                                <label>2</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE7" value="3">
                                                <label>3</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE7" value="4">
                                                <label>4</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE7" value="5">
                                                <label>5</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="likertE7" value="6">
                                                    <label>6</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="likertE7" value="7">
                                                    <label>7</label>
                                                </li>
                                        </ul>
                                </div>

                                <label class="col-sm-10 col-form-label" class="statement" style="padding:0px; margin-left:30px;font-size:14px;">8. Objective</label>
                                <div class="col-sm-12">
                                        <ul class='likert'>
                                                <li>
                                                <input type="radio" name="likertE8" value="1">
                                                <label>1</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE8" value="2">
                                                <label>2</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE8" value="3">
                                                <label>3</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE8" value="4">
                                                <label>4</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE8" value="5">
                                                <label>5</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="likertE8" value="6">
                                                    <label>6</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="likertE8" value="7">
                                                    <label>7</label>
                                                </li>
                                        </ul>
                                </div>

                                <label class="col-sm-10 col-form-label" class="statement" style="padding:0px; margin-left:30px;font-size:14px;">9. Easy to understand</label>
                                <div class="col-sm-12">
                                        <ul class='likert'>
                                                <li>
                                                <input type="radio" name="likertE9" value="1">
                                                <label>1</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE9" value="2">
                                                <label>2</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE9" value="3">
                                                <label>3</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE9" value="4">
                                                <label>4</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE9" value="5">
                                                <label>5</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="likertE9" value="6">
                                                    <label>6</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="likertE9" value="7">
                                                    <label>7</label>
                                                </li>
                                        </ul>
                                </div>

                                <label class="col-sm-10 col-form-label" class="statement" style="padding:0px; margin-left:30px;font-size:14px;">10. Clearly written</label>
                                <div class="col-sm-12">
                                        <ul class='likert'>
                                                <li>
                                                <input type="radio" name="likertE10" value="1">
                                                <label>1</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE10" value="2">
                                                <label>2</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE10" value="3">
                                                <label>3</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE10" value="4">
                                                <label>4</label>
                                                </li>
                                                <li>
                                                <input type="radio" name="likertE10" value="5">
                                                <label>5</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="likertE10" value="6">
                                                    <label>6</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="likertE10" value="7">
                                                    <label>7</label>
                                                </li>
                                        </ul>
                                </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                        <button type="button" id="modalHclose" class="btn btn-default modalclose" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" id="submitS" onclick="submitS()">Submit</button>
                </div>
            </div>
            
            </div>
        </div>


        </div>
        <div class="col-4" class="col-container" id="sidebar-container">
          <div id="floating-div">
             <div id="help" class="sections">
                 <button id="helpbutton" data-toggle="collapse" data-target="#helpmessage" class='btn' style="width:100%;height:30px;background-color:#f8c000;color:white;padding:0px"> Click to see help </button>
                 <div id="helpmessage" class="collapse" style="padding:10px">
                     <p>Review the article and make a list of question that can be answered by this article. Any question related to this article or this research is fine.</p>
                     <p>As before, you can generate a question on a text range of your choice. Select a range of text and then type in a question that can be answered by the selected text. Overlapping text selection is not supported. </p> 
                     <p>You can also make a question using the below 'Add' button, without specific text selection.</p>
                 </div>
             </div>
             <!--
             <div class="sections" id="Questions">
                <h6>Questions that this article does not answer <small><a id="showless_q" onclick="ShowLessQ();" href="#">show less</a></small></h6>
                <div id='lastlyaddedq' style="display:none"><small style="color:gray">Lastly added:</small></div>
                <div id="questions_generated" class="subsections"></div>
                <div id="addQnoref" class="sections" style="margin:0px;">
                    <button class="btn norefButtons" id="addQnorefButton"  style="width:100%;height:36px;margin:0px;" onclick="newQmodal('No text selection',-1)">Add</button>
                </div>     
            </div> -->

            <div class="sections" id="Highlights">
                <h6>Questions that this article answers <small><a id="showless_h" onclick="ShowLessH();" href="#">show less</a></small></h6>
                <div id='lastlyaddedh' style="display:none"><small style="color:gray">Lastly added:</small></div>
                <div id="highlights_generated" class="subsections"></div> 
                <div id="addHnoref" class="sections" style="margin:0px;">
                    <button class="btn norefButtons" id="addHnorefButton"  style="width:100%;height:36px;margin:0px;" onclick="newHmodal('No text selection',-1)">Add</button>
                </div>
            </div>

<!--              <div id="surveybutton" class="sections" >
                <button class="btn" id="surveyButton" onclick="window.open('https://goo.gl/forms/0YDThu8y4J0dwAlx1'); document.getElementById('submitQbutton').removeAttribute('disabled'); document.getElementById('submitQbutton').style.color='black';" style="width:100%;height:30px;padding-top:3px;padding:3px;" >Survey</button>
                        </div> -->
             <div id="next" class="sections">
             <button class="btn" id="submitHbutton" onclick="submitHs()" style="width:100%;height:30px;padding-top:3px;padding:3px; color:lightgrey" disabled>Next</button>
                     </div>
            <p style="font-size:small;margin-bottom: 0;"> - You should generate 5 or more question to proceed.</p>
            <p style="font-size:small; display:none"id="youmay"> - You may add questions those were asked in the previous article.</p>
 
        </div>
     </div>
  </div> <!-- End of col-container-->
  </div>
 <div class="row" id="footer"> <div class="col-8" >You can read the original article <a href={{article.article_link}} target="_blank">here</a></div>  </div>
 <div id="qgens" style="display:none">0</div>
 <div id="hgens" style="display:none">0</div>
</div>

{% endblock %}
