   {% extends "base.html" %}
   {% load staticfiles %}
    {% block scripts %}
    <script src="{% static "js/tutorial.js" %}" type="text/javascript" ></script>
    <link href="{% static "css/tutorial.css" %}" rel="stylesheet"> 
    {% endblock %}    
    {% block document_container %}
    <div style="min-height:100%;" class="container-fluid" id="background">
        <!--Top margin, can be used as nav bar or so, later. -->
         <div class="row" id="top-margin">
                 <div class="col-10" class="col-container"></div>
                 <div class="col-2" class="col-container"> user: <p id="username">{{ user.get_username }}</p>  <p id="userpk" style="display:none">{{ user.pk }}</p></div>
         </div> 
         <div class="row" id="main">
                <div class="col-1" class="col-container"></div>
                <div class="col-10" class="col-container">
                        <div id="tutorial">
                                <div id="head">
                                <h1 class="title">Instruction (1/3)</h1>
                                <hr>
                                </div>
                                <div  class="row">
                                        <p>In this HIT, you are going to read 3 news articles on ONE scientific research. Each article tries to deliver the same scientific research findings to their audiences.</p>
                                        <p>Your goal is: after reading each article, finding out what <b>valuable information</b> each article <b>does not contain</b> and <b>contains</b> based on your understanding.</p>

                                        <p>To be specific, you are going to finish two tasks:
                                                <ol>
                                        <li>You will read an article to find out what information each article does not contain. Based on what you find you need to generate a list of questions that each article cannot answer.</li>
                                        <li>You will review the article again to find out what information each article contains. Based on what you find you need to generate a list of questions that each article can answer.</li>
                                                </ol>

                                        <img src="{% static "media/sessions.png" %}" style="width:85%;align-self: center;padding-left:10%;padding-bottom:20px;">
                                       
                                        <p>Below shows the overall process of this HIT. </p>
                                        <img src="{% static "media/flow.png" %}" style="width:85%;align-self: center;padding-left:10%;padding-bottom:20px;">

                                        
                                </div>
                                <div  class="row">
                                        <br>
                                        <br>
                                        <div style="text-align:right;width:100%" ><button class="btn btn-info" id="nextbutton" onclick="next()" dataref="{{ user.id }}"> NEXT </button>
                                        </div>
                                </div>
                        
                        </div>
                </div>
                <div class="col-1" class="col-container"></div>
                </div> <!-- End of col-container-->
                <div class="row" id="bottom-margin">
                                <div class="col-10" class="col-container"></div>
                                <div class="col-2" class="col-container"> </p> </div>
                        </div> 
</div>

    
{% endblock %}
