#background{
  background-color: #e9e9e9;
}

#top-margin{
  height:60px;
}

#footer{
  height:60px;
}

#article{
  background-color:#f8f8f8;
  min-height:100%;
  border:1px;
  border-style:solid;
  border-color:#dbdbdb;
  padding:75px;  
}


#floating-div{
  background-color:transparent;
  width:inherit!
}
.col-container{
  background-color:transparent; 
  min-height:100%;
  float:center;
}

#sidebar{
  background-color: transparent;
  padding:0;

}

#sidebar-container{
  background-color: transparent;
  padding:0;
}
#main{
  padding-left:7.5%;
  padding-right:7.5%;
}

.date{
  font-size: 14px !important;
  letter-spacing: -0.2px !important;
  text-indent:10px;
}


.quote{
  position: relative;
  text-indent: 10px;
  padding-left: 20px;
  padding-right:20px;
}

.saying{
  font-style:italic;
  font-size:18px;
  line-height:32px;
  position: relative;
  -webkit-margin-before:1em;
  -webkit-margin-after:1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end:0px;
}

.whosaid{
  font-weight: bold;
  text-align:right;
}
/* bs-call-out classes*/

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout+.bs-callout {
  margin-top: -5px;
}
.bs-callout-default {
  border-left-color: #999;
  color: #999;
}
.bs-callout-default h4 {
  color: #999;
}
.bs-callout-filled{
  border-left-color:#359b35;
  background-color:#ffffff
}
.bs-callout-filled h4{
  color:#359b35;
}

.bs-callout-current {
  -webkit-box-shadow: 0 0 2px 2px  #318d31;
  -moz-box-shadow: 0 0 2px 2px #318d31;
  background-color:#ffffff;
  border-color:#39a339 !important;
}
.bs-callout-current h4 {
  color: #359b35;
}



.bootstrap-tagsinput {
  width: 100% !important;
  height:32px;
}

/* Answerbox format */
.refContainer{
  padding-left:5px;
  padding-right:5px;
  height:32px;
}

.inputwithRef{
  padding-right:0;
  height:32px !important
}

.refbtn{
  height: 32px !important;
  width:32px !important;
  align-content: center;
  padding-left:0px;
  padding-right:0px;
}

.refbtn-noref{
  border-color:#ffc300;
}

.refbtn-yesref{
  border-color:#009e08;
  
}

.tooltip-inner {
  width: 200px;
  background-color:#fffcf2!important;
  color:#ffc401;

}

.tooltip-arrow{
  border-bottom-color:#ffc401;
  border-top-color:#ffc401;
  border-left-color:#ffc401;
  border-right-color:#ffc401;
}

.tool-tip{
    display:inline-block;
}
.tool-tip{
    pointer-events:none;
}

.popover{
  max-width: 500;
}

.btn-add{
  background-color: #166d00 !important;
  border: 0;
  color:#ffffff;
}


.fa-check{
  color:#009e08 !important;
}
.sections{
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px !important;
}

#Questions{
  border: 2px solid rgb(0, 114, 0)

}
#Qgen{
  border: 2px solid rgb(0, 165, 0)
}

#help{
  padding:0;
}

#next{
  padding:0;
}

.subsections{
  margin-bottom: 10px;
  background-color: #f8f8f8 !important;
  border-radius: 5px !important;
}

.maintext{
    text-align: center;
  font-family: "Segoe UI", sans-serif;
  text-decoration: none;
}

#lorem{
	font-family: "Segoe UI", sans-serif;
	font-size: 12pt;
  text-align: left;
}
#popupfoot{
	font-family: "Segoe UI", sans-serif;
	font-size: 16pt;
  padding: 10px 20px;
}


.read{
  background-color:#4da74d;
}
.read:hover{
  background-color: #D1D1D1;
}
.popupoption:hover{
	background-color:#D1D1D1;
	color: green;
}
.popupoption2:hover{
	
	color: red;
}


.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

#typeinquestion { display: block; width: 450px; text-align: center; margin-bottom: 35px; }
 
#typeinquestion form {
  display: inline-block;
  background: #eeefed;
  padding: 0;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0 0 0;
}
#typeinquestion form .biginput {
  width: 600px;
  height: 40px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 1.5em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#typeinquestion form .biginput:focus {
  color: #858585;
}

.existQs{
  font-size: 20px;
  text-align:left;
  height:35px;
  padding-top:3px;
  padding-bottom: 3px;
  max-width:450px;
}
.myQs{
  font-size: 20px;
  text-align:left;
  padding-top:3px;
  padding-bottom: 3px;
  padding-right:20px !important;
  max-width:450px;
}
.questionby{
  font-size: 10px;
  color:#858585;
}

.newbadge{
  background-color:#ffd001 !important
}

#typeQ{
  height:35px;
  padding-left:30px;
  width:450px;
}

.constQlist{
  font-size:20px;
  text-align:left;
  width:460px;
  background-color:#b4e1ff
}

#choosefromList{
  padding-left:30px !important;
  padding-right:30px !important;
  margin-top:10px;
}

#makeyourown{
  align-self:center;
  padding-left:20px !important;
  margin-top:10px;
}

#getQs{
  padding-right:0px !important
}

#seeQs{
  padding-left:0px !important;
}
.constQTypes{
  margin-top:10px;
  margin-bottom:10px;

}
.nav-item{
  font-size:15px;
}

.ui-menu{
  z-index:100000 !important;
}

.selected{
  border-color: #000;
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.addbuttons{
  margin-top:10px;
}

#addQbutton .popover-content{
  width:300px !important;
}


/* highlight background */
.highlight{
  background: rgba(255,195,0,0.2);
}

/* Popovers */
#SelectStage{
  height:25px;
  padding-top:0px;
  padding-bottom: 0px;
}
#newQansAdd{
  height:25px;
  padding-top:0px;
  padding-bottom: 0px;
}

#newQAdd{
  height:25px;
  padding-top:0px;
  padding-bottom: 0px;
}

.popoverrow{
  margin:0;
  min-height: 25px;
}


/* Sentences */

.normal{
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
  border:1px transparent dashed;
  line-height: 32px;
  font-family: FreightSans Book;
  position: relative;
  -webkit-margin-before:1em;
  -webkit-margin-after:1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end:0px;
}

.selectable{
  border: 1px #D5D8DC dashed;
}

.prevselected{
  background-color: #F9E79F !important;
}

.curselected{
  background-color: #F1C40F !important;
  border: 1px #D5D8DC dashed;
}

/* Question lists on the right side bar */
.qlist{
  padding-top:3px;
  padding-bottom: 3px;
  font-size:14px;
}


.checkboxholder{
  padding-left:0px;
  padding-right:0px;
}

.deleteholder{
    padding-left:0px;
    padding-right:0px;
    display:flex;
    align-items:center;
  }
  
.qrow{
  margin:0px;
}

.card{
  margin-bottom: 5px;
}

.deletebutton{
    padding-left:0px;
    padding-right:0px;
}



#submit_question{
    display:flex;
    justify-content: space-between;
}

#showless{
    font-size:10px;
}